In [133]:
import pandas as pd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Read the CSV data
df = pd.read_csv("irisk.csv")

# If there are duplicate counties (PUMA), take the mean of "Predicted_ISRISKFACTOR" for those counties
df = df.groupby('PUMA').Predicted_ISRISKFACTOR.mean().reset_index()

# Sort the DataFrame based on the "Predicted_ISRISKFACTOR"
df = df.sort_values(by="Predicted_ISRISKFACTOR", ascending=False).reset_index(drop=True)
print(df)

# Initialize the score map
score_map = {county: 0 for county in df['PUMA']}
decile_size = len(df) // 10
# Apply the scoring algorithm
for i, row in df.iterrows():
    county = row['PUMA']
    score_map[county] += (10 - i//decile_size)

sorted_score = dict(sorted(score_map.items(), key=lambda item: item[1], reverse=True))

print(sorted_score)
print(len(score_map))

          PUMA  Predicted_ISRISKFACTOR
0      Portage                4.943327
1     Mahoning                4.623752
2         Ross                4.470684
3     Franklin                4.402311
4       Athens                4.165501
5       Scioto                4.141871
6     Richland                4.079082
7     Hamilton                3.915734
8        Lucas                3.887028
9       Lorain                3.867745
10    Pickaway                3.823078
11    Cuyahoga                3.785169
12      Greene                3.758562
13   Muskingum                3.730803
14      Marion                3.467422
15      Summit                3.411416
16       Allen                3.216795
17      Butler                3.141946
18  Montgomery                3.140199
19        Wood                2.791699
20  Columbiana                2.709018
21     Jackson                2.646705
22     Licking                2.581171
23       Clark                2.477780
24       Stark                2.457502
25     Belmont                2.387132
26    Trumbull                2.385794
27   Fairfield                2.369480
28        Erie                2.367443
29   Ashtabula                2.330163
30    Highland                2.225152
31      Warren                2.213323
32      Seneca                2.135839
33       Logan                2.052187
34  Washington                1.708225
35      Holmes                1.599277
36       Wayne                1.555464
37    Delaware                1.524858
38    Clermont                1.436044
39     Hancock                1.350559
40       Huron                1.329742
41        Lake                1.140279
42      Medina                1.079370
43    Defiance                0.981156
44      Ottawa                0.765936
45       Darke                0.649639
46  Tuscarawas                0.537040
47    Auglaize                0.366233
48       Miami                0.245546
49      Geauga                0.000000
{'Portage': 10, 'Mahoning': 10, 'Ross': 10, 'Franklin': 10, 'Athens': 10, 'Scioto': 9, 'Richland': 9, 'Hamilton': 9, 'Lucas': 9, 'Lorain': 9, 'Pickaway': 8, 'Cuyahoga': 8, 'Greene': 8, 'Muskingum': 8, 'Marion': 8, 'Summit': 7, 'Allen': 7, 'Butler': 7, 'Montgomery': 7, 'Wood': 7, 'Columbiana': 6, 'Jackson': 6, 'Licking': 6, 'Clark': 6, 'Stark': 6, 'Belmont': 5, 'Trumbull': 5, 'Fairfield': 5, 'Erie': 5, 'Ashtabula': 5, 'Highland': 4, 'Warren': 4, 'Seneca': 4, 'Logan': 4, 'Washington': 4, 'Holmes': 3, 'Wayne': 3, 'Delaware': 3, 'Clermont': 3, 'Hancock': 3, 'Huron': 2, 'Lake': 2, 'Medina': 2, 'Defiance': 2, 'Ottawa': 2, 'Darke': 1, 'Tuscarawas': 1, 'Auglaize': 1, 'Miami': 1, 'Geauga': 1}
50

In [134]:

# Read the data from the provided CSV file
df = pd.read_csv("22-23_Achievement_District.csv")

# If there are duplicate counties, compute the standard deviation of "Average Percent Performance Proficient or above"
std_perf = df.groupby('County')['Average Percent Performance Proficient or above'].std().reset_index()

# Handle NaN values (e.g., for counties with only one record, the standard deviation will be NaN)
std_perf = std_perf.fillna(0)

# Sort the DataFrame based on the standard deviation from highest to lowest
std_perf = std_perf.sort_values(by="Average Percent Performance Proficient or above", ascending=False).reset_index(drop=True)
print(std_perf)

# Initialize the score map
score_ma = {county: 0 for county in std_perf['County']}

# Calculate the number of counties per decile
decile_size = len(std_perf) // 10

# Apply the scoring algorithm
for i, row in std_perf.iterrows():
    county = row['County']
    score_ma[county] = 10 - (i // decile_size)

# Sort the score_map by its values
sorted_score_map = dict(sorted(score_ma.items(), key=lambda item: item[1], reverse=True))
print("\n",len(score_ma))

print(sorted_score_map)

        County  Average Percent Performance Proficient or above
0     Cuyahoga                                        16.419077
1     Hamilton                                        15.567297
2   Montgomery                                        13.869055
3        Lucas                                        13.280052
4     Franklin                                        12.840802
..         ...                                              ...
83      Gallia                                         1.100327
84      Morgan                                         0.000000
85      Monroe                                         0.000000
86     Hocking                                         0.000000
87      Vinton                                         0.000000

[88 rows x 2 columns]

 88
{'Cuyahoga': 10, 'Hamilton': 10, 'Montgomery': 10, 'Lucas': 10, 'Franklin': 10, 'Mahoning': 10, 'Lorain': 10, 'Butler': 10, 'Allen': 9, 'Summit': 9, 'Stark': 9, 'Erie': 9, 'Lake': 9, 'Clark': 9, 'Greene': 9, 'Geauga': 9, 'Marion': 8, 'Crawford': 8, 'Seneca': 8, 'Richland': 8, 'Muskingum': 8, 'Portage': 8, 'Columbiana': 8, 'Trumbull': 8, 'Auglaize': 7, 'Shelby': 7, 'Athens': 7, 'Scioto': 7, 'Licking': 7, 'Defiance': 7, 'Mercer': 7, 'Van Wert': 7, 'Perry': 6, 'Miami': 6, 'Wood': 6, 'Darke': 6, 'Coshocton': 6, 'Holmes': 6, 'Champaign': 6, 'Warren': 6, 'Paulding': 5, 'Ashtabula': 5, 'Meigs': 5, 'Hancock': 5, 'Pickaway': 5, 'Ross': 5, 'Ottawa': 5, 'Jackson': 5, 'Madison': 4, 'Guernsey': 4, 'Tuscarawas': 4, 'Delaware': 4, 'Fayette': 4, 'Sandusky': 4, 'Fulton': 4, 'Hardin': 4, 'Noble': 3, 'Belmont': 3, 'Medina': 3, 'Putnam': 3, 'Washington': 3, 'Union': 3, 'Brown': 3, 'Lawrence': 3, 'Clinton': 2, 'Preble': 2, 'Knox': 2, 'Clermont': 2, 'Fairfield': 2, 'Morrow': 2, 'Jefferson': 2, 'Wayne': 2, 'Huron': 1, 'Highland': 1, 'Wyandot': 1, 'Logan': 1, 'Ashland': 1, 'Harrison': 1, 'Williams': 1, 'Pike': 1, 'Henry': 0, 'Carroll': 0, 'Adams': 0, 'Gallia': 0, 'Morgan': 0, 'Monroe': 0, 'Hocking': 0, 'Vinton': 0}

In [135]:
ohio_counties = {
    '001': 'Adams', '003': 'Allen', '005': 'Ashland', '007': 'Ashtabula', '009': 'Athens', 
    '011': 'Auglaize', '013': 'Belmont', '015': 'Brown', '017': 'Butler', '019': 'Carroll', 
    '021': 'Champaign', '023': 'Clark', '025': 'Clermont', '027': 'Clinton', '029': 'Columbiana', 
    '031': 'Coshocton', '033': 'Crawford', '035': 'Cuyahoga', '037': 'Darke', '039': 'Defiance', 
    '041': 'Delaware', '043': 'Erie', '045': 'Fairfield', '047': 'Fayette', '049': 'Franklin', 
    '051': 'Fulton', '053': 'Gallia', '055': 'Geauga', '057': 'Greene', '059': 'Guernsey', 
    '061': 'Hamilton', '063': 'Hancock', '065': 'Hardin', '067': 'Harrison', '069': 'Henry', 
    '071': 'Highland', '073': 'Hocking', '075': 'Holmes', '077': 'Huron', '079': 'Jackson', 
    '081': 'Jefferson', '083': 'Knox', '085': 'Lake', '087': 'Lawrence', '089': 'Licking', 
    '091': 'Logan', '093': 'Lorain', '095': 'Lucas', '097': 'Madison', '099': 'Mahoning', 
    '101': 'Marion', '103': 'Medina', '105': 'Meigs', '107': 'Mercer', '109': 'Miami', 
    '111': 'Monroe', '113': 'Montgomery', '115': 'Morgan', '117': 'Morrow', '119': 'Muskingum', 
    '121': 'Noble', '123': 'Ottawa', '125': 'Paulding', '127': 'Perry', '129': 'Pickaway', 
    '131': 'Pike', '133': 'Portage', '135': 'Preble', '137': 'Putnam', '139': 'Richland', 
    '141': 'Ross', '143': 'Sandusky', '145': 'Scioto', '147': 'Seneca', '149': 'Shelby', 
    '151': 'Stark', '153': 'Summit', '155': 'Trumbull', '157': 'Tuscarawas', '159': 'Union', 
    '161': 'Van Wert', '163': 'Vinton', '165': 'Warren', '167': 'Washington', '169': 'Wayne', 
    '171': 'Williams', '173': 'Wood', '175': 'Wyandot'
}

df = pd.read_csv("HOME_IncomeLmts_Natl_2023_1.csv", dtype={'FIPS County Code': str})
df = df.drop(index=df.index[len(df) - 3:])

In [136]:
df.columns

Index(['FIPS County Code', 'medinc_23p2', 'medinc_23p3', 'medinc_23p4'], dtype='object')

In [137]:
df['FIPS County Code'].shape

(4761,)

In [138]:
# Map the 'FIPS County Code' to its respective county name using the ohio_counties dictionary
df['FIPS County Code'] = df['FIPS County Code'].map(ohio_counties)

# Rename the column for clarity
df.rename(columns={'FIPS County Code': 'County Name'}, inplace=True)
county_medianIncome = df.groupby(['County Name'], as_index = False).mean()
print(county_medianIncome)
county_medianIncome['median_income'] = county_medianIncome[['medinc_23p2', 'medinc_23p3', 'medinc_23p4']].median(axis=1)

# Min-max scale the median_income to get relative intensity
min_value = county_medianIncome['median_income'].min()
max_value = county_medianIncome['median_income'].max()
county_medianIncome['relative_intensity'] = (county_medianIncome['median_income'] - min_value) / (max_value - min_value)

print(county_medianIncome)
print(county_medianIncome['relative_intensity'])

   County Name   medinc_23p2   medinc_23p3    medinc_23p4
0        Adams  81476.691729  91648.120301  101796.992481
1        Allen  72711.059908  81805.529954   90840.552995
2      Ashland  80473.780488  90532.317073  100540.853659
3    Ashtabula  77235.329341  86889.820359   96503.592814
4       Athens  81215.492958  91364.788732  101479.812207
..         ...           ...           ...            ...
83  Washington  64985.714286  73100.000000   81178.571429
84       Wayne  65200.000000  73350.000000   81450.000000
85    Williams  64792.857143  72885.714286   80942.857143
86        Wood  64078.571429  72078.571429   80050.000000
87     Wyandot  60653.846154  68223.076923   75769.230769

[88 rows x 4 columns]
   County Name   medinc_23p2   medinc_23p3    medinc_23p4  median_income  \
0        Adams  81476.691729  91648.120301  101796.992481   91648.120301
1        Allen  72711.059908  81805.529954   90840.552995   81805.529954
2      Ashland  80473.780488  90532.317073  100540.853659   90532.317073
3    Ashtabula  77235.329341  86889.820359   96503.592814   86889.820359
4       Athens  81215.492958  91364.788732  101479.812207   91364.788732
..         ...           ...           ...            ...            ...
83  Washington  64985.714286  73100.000000   81178.571429   73100.000000
84       Wayne  65200.000000  73350.000000   81450.000000   73350.000000
85    Williams  64792.857143  72885.714286   80942.857143   72885.714286
86        Wood  64078.571429  72078.571429   80050.000000   72078.571429
87     Wyandot  60653.846154  68223.076923   75769.230769   68223.076923

    relative_intensity
0             0.875614
1             0.520384
2             0.835344
3             0.703882
4             0.865389
..                 ...
83            0.206191
84            0.215213
85            0.198457
86            0.169326
87            0.030177

[88 rows x 6 columns]
0     0.875614
1     0.520384
2     0.835344
3     0.703882
4     0.865389
        ...
83    0.206191
84    0.215213
85    0.198457
86    0.169326
87    0.030177
Name: relative_intensity, Length: 88, dtype: float64

In [139]:
county_medianIncome = county_medianIncome.sort_values(by="relative_intensity", ascending=False).reset_index(drop=True)
print(county_medianIncome)
score_income = {county: 0 for county in county_medianIncome['County Name']}

# Calculate the number of counties per decile
decile_size = len(std_perf) // 10

# Apply the scoring algorithm
for i, row in county_medianIncome.iterrows():
    county = row['County Name']
    score_income[county] = 10 - (i // decile_size)
sortedInc = dict(sorted(score_income.items(), key=lambda item: item[1], reverse=True))

print(sortedInc)

   County Name   medinc_23p2   medinc_23p3    medinc_23p4  median_income  \
0       Butler  84541.818182  95094.545455  105604.848485   95094.545455
1        Adams  81476.691729  91648.120301  101796.992481   91648.120301
2       Athens  81215.492958  91364.788732  101479.812207   91364.788732
3        Brown  80551.034483  90623.448276  100638.620690   90623.448276
4      Ashland  80473.780488  90532.317073  100540.853659   90532.317073
..         ...           ...           ...            ...            ...
83    Sandusky  60494.736842  68063.157895   75573.684211   68063.157895
84       Perry  60344.000000  67880.000000   75372.000000   67880.000000
85        Ross  60265.000000  67790.000000   75285.000000   67790.000000
86     Portage  60078.260870  67586.956522   75043.478261   67586.956522
87        Pike  59908.695652  67386.956522   74834.782609   67386.956522

    relative_intensity
0             1.000000
1             0.875614
2             0.865389
3             0.838633
4             0.835344
..                 ...
83            0.024405
84            0.017795
85            0.014546
86            0.007218
87            0.000000

[88 rows x 6 columns]
{'Butler': 10, 'Adams': 10, 'Athens': 10, 'Brown': 10, 'Ashland': 10, 'Auglaize': 10, 'Clark': 10, 'Champaign': 10, 'Belmont': 9, 'Clinton': 9, 'Ashtabula': 9, 'Coshocton': 9, 'Allen': 9, 'Darke': 9, 'Guernsey': 9, 'Lake': 9, 'Clermont': 8, 'Carroll': 8, 'Medina': 8, 'Lawrence': 8, 'Hamilton': 8, 'Lorain': 8, 'Jefferson': 8, 'Delaware': 8, 'Crawford': 7, 'Montgomery': 7, 'Tuscarawas': 7, 'Warren': 7, 'Erie': 7, 'Licking': 7, 'Cuyahoga': 7, 'Madison': 7, 'Hocking': 6, 'Defiance': 6, 'Wayne': 6, 'Union': 6, 'Fairfield': 6, 'Logan': 6, 'Gallia': 6, 'Washington': 6, 'Fulton': 5, 'Vinton': 5, 'Williams': 5, 'Huron': 5, 'Fayette': 5, 'Jackson': 5, 'Summit': 5, 'Shelby': 5, 'Geauga': 4, 'Lucas': 4, 'Hancock': 4, 'Van Wert': 4, 'Highland': 4, 'Mahoning': 4, 'Knox': 4, 'Miami': 4, 'Marion': 3, 'Greene': 3, 'Wood': 3, 'Muskingum': 3, 'Franklin': 3, 'Morrow': 3, 'Harrison': 3, 'Monroe': 3, 'Richland': 2, 'Henry': 2, 'Paulding': 2, 'Holmes': 2, 'Mercer': 2, 'Noble': 2, 'Columbiana': 2, 'Morgan': 2, 'Hardin': 1, 'Pickaway': 1, 'Meigs': 1, 'Stark': 1, 'Trumbull': 1, 'Scioto': 1, 'Preble': 1, 'Seneca': 1, 'Ottawa': 0, 'Putnam': 0, 'Wyandot': 0, 'Sandusky': 0, 'Perry': 0, 'Ross': 0, 'Portage': 0, 'Pike': 0}

In [140]:
# Combining the score maps
total = {}
for key in score_map:
    total[key] = (score_map[key] + score_ma[key] + score_income[key])
sortedTotal = dict(sorted(total.items(), key=lambda item: item[1], reverse=True))

print(sortedTotal)

{'Athens': 27, 'Hamilton': 27, 'Lorain': 27, 'Butler': 27, 'Cuyahoga': 25, 'Allen': 25, 'Clark': 25, 'Mahoning': 24, 'Montgomery': 24, 'Franklin': 23, 'Lucas': 23, 'Summit': 21, 'Erie': 21, 'Greene': 20, 'Licking': 20, 'Lake': 20, 'Richland': 19, 'Muskingum': 19, 'Marion': 19, 'Ashtabula': 19, 'Portage': 18, 'Auglaize': 18, 'Scioto': 17, 'Belmont': 17, 'Warren': 17, 'Wood': 16, 'Columbiana': 16, 'Jackson': 16, 'Stark': 16, 'Darke': 16, 'Ross': 15, 'Delaware': 15, 'Defiance': 15, 'Pickaway': 14, 'Trumbull': 14, 'Geauga': 14, 'Fairfield': 13, 'Seneca': 13, 'Washington': 13, 'Clermont': 13, 'Medina': 13, 'Hancock': 12, 'Tuscarawas': 12, 'Logan': 11, 'Holmes': 11, 'Wayne': 11, 'Miami': 11, 'Highland': 9, 'Huron': 8, 'Ottawa': 7}